extend ..\layout

block content

    .card
        form(action='' method='POST')
            .card-body       
                h4.card-title= category.name
                p.card-text= category.description

                if item_list.length > 0
                    p.card-text
                        strong The following Item(s) must be removed before removing this category:
                    ul
                        each item in item_list

                            li 
                                a(href=item.url) #{item.name}
                else
                    p.pt-3
                        input#categoryid(type='hidden' name='categoryid' value=category.id)
                        strong Do you really want to delete this Category?
                
                if error
                    .alert.alert-warning.mb-0.mt-4
                        h4.alert-heading Warning
                        =error.msg

            .card-footer.d-flex
                if item_list.length > 0
                    a.btn.btn-primary.ml-auto(href=category.url) Category Detail
                else
                    a.btn.btn-secondary.ml-auto.mr-2(href=category.url) Cancel
                    .input-group.col-md-4.col-xs-12.p-0
                        input#confirm_delete.form-control(name='confirm_delete' placeholder='Admin Password' type='password' required)
                        .input-group-append
                            button.btn.btn-danger(type='submit') Confirm Delete
            
